{% extends 'base.html'%}
{%load static%}
{%block content%}
							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{ recipe.title }}</h1>
									</header>
									<span class="image main"><img src="{{ recipe.get_image }}" style="width:700px; height:600px;" alt="" /></span>

									<p>Posted: {{ recipe.created }}</p>
									<p>Author: {{ recipe.user }}</p>
									<p>Cooking time: {{ recipe.cooking_time }} minutes</p>


									<hr class="major" />
									{% if images %}
										{% for image in images %}
											<img src="{{ image }}" style="width:500px; length: 500px;" class="img-thumbnail" alt="{{ image }}">
										{% endfor %}
									{% endif %}
									<h2>{{ recipe.description|truncatewords:10}}</h2>
					 				<p>{{ recipe.description }}</p>
									<a href="{% url 'update-recipe' recipe.id%}"><i class="fas fa-edit"></i></a>
									<a href="{% url 'delete-recipe' recipe.id%}"><i class="fas fa-trash-alt"></i></a>

								</section>

{%endblock%}

